<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="jobOfferInfo">
    <p>
        <input type="hidden" th:field="${jobOffer.id}">
    </p>
    <h2>Title</h2>
    <p>
        <input type="text" class="form-control"  th:field="${jobOffer.title}" placeholder="Job Title" >
    </p>
    <h2>Company Name</h2>
    <p>
        <input type="text" class="form-control"  th:field="${jobOffer.companyName}" placeholder="Company Name" >
    </p>
    <h2>Description</h2>
    <p>
        <input type="text" class="form-control" th:field="${jobOffer.description}" placeholder="Description">
    </p>
    <h2>Technology Profile</h2>
    <p>
        <input type="text" class="form-control" th:field="${jobOffer.technologyProfile}" placeholder="Technology Profile">
    </p>

</div>
</body>
</html>