<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Job Offer</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <form th:action="@{/jobOffers/new}" th:object="${jobOffer}" method="post"
          name="jobOfferForm" id="jobOfferForm">

        <div class="border border-secondary p-3 rounded">
            <div class="card">
                <div class="card-header">
                    New Job Offer
                </div>
                <div calss="card-body">
                    <div th:insert="jobOffers/info :: jobOfferInfo"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header dynamic-update-requirements">
                    Requirements
                    <button type="button" name="addJobRequirement" class="btn btn-sm btn-success float-right"
                            data-dynamic-update-requirements-url="/addJobRequirement/new">
                        <i class="fas fa-plus"></i>
                    </button>
                    <p th:if="${#fields.hasErrors('requirements')}" th:errorclass="error" th:errors="*{requirements}" />
                </div>
                <table class="table dynamic-update-requirements" style="width: 100%">
                    <tbody id="dynamicRequirements">
                    <tr th:fragment="requirements" th:each="requirement,rowStat : ${jobOffer.requirements}">
                        <input type="hidden" th:field="${jobOffer.requirements[__${rowStat.index}__].id}">
                        <td>
                            <input class="form-control" th:field="${jobOffer.requirements[__${rowStat.index}__].requirement}"/>
                            <p th:if="${#fields.hasErrors('${jobOffer.requirements[__${rowStat.index}__].requirement}')}" th:errorclass="error"
                               th:errors="${jobOffer.requirements[__${rowStat.index}__].requirement}" />
                        </td>

                        <td>
                            <div class="btn-group">
                                <button type="button" name="removeDynamicRow"
                                        th:value="${rowStat.index}" class="btn btn-sm btn-danger"
                                        data-dynamic-update-requirements-url="/removeJobRequirement/new">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card">
                <div class="card-header dynamic-update-technologies">
                    Technologies
                    <button type="button" name="addJobTechnology" class="btn btn-sm btn-success float-right"
                            data-dynamic-update-technologies-url="/addJobTechnology/new">
                        <i class="fas fa-plus"></i>
                    </button>
                    <p th:if="${#fields.hasErrors('technologies')}" th:errorclass="error" th:errors="*{technologies}" />
                </div>

                <table class="table dynamic-update-technologies" style="width: 100%">

                    <tbody id="dynamicTechnologies">
                    <tr th:fragment="technologies" th:each="technology,rowStat : ${jobOffer.technologies}">

                        <input type="hidden" th:field="${jobOffer.technologies[__${rowStat.index}__].id}">
                        <td>
                            <select th:field="${jobOffer.technologies[__${rowStat.index}__].technology}">
                                <option th:each="fixedTechnology : ${fixedTechnologies}"
                                        th:value="${fixedTechnology.id}"
                                        th:text="${fixedTechnology.name}">
                                </option>
                            </select>
                        </td>

                        <td>
                            <div class="btn-group">
                                <button type="button" name="removeDynamicRow"
                                        th:value="${rowStat.index}" class="btn btn-sm btn-danger"
                                        data-dynamic-update-technologies-url="/removeJobTechnology/new">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Add Job Offer</button>
        </div>
    </form>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>