<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Offer</title>
</head>
<body>
<div th:object="${jobOffer}" style="max-width: 350px; margin: 0 auto;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="card">

        <h2>Title</h2>
        <p class="title" th:text="${jobOffer.title}"></p>
        <h2>Company</h2>
        <p class="title" th:text="${jobOffer.companyName}"></p>
        <h2>Technology Profile</h2>
        <p class="title" th:text="${jobOffer.technologyProfile}"></p>
        <h2>Description</h2>
        <p class="title" th:text="${jobOffer.description}"></p>
        <h2>Requirements</h2>

        <ul th:each="requirement: ${jobOffer.requirements}">
            <li th:text="${requirement.requirement}"></li>
        </ul>
        <h2>Required Technologies</h2>
        <ul th:each="technology: ${jobOffer.technologies}">
            <li th:text="${technology.technology}"></li>
        </ul>

        <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/jobOffers/{id}/edit(id=${jobOffer.id})}" class="btn btn-primary">
                Edit
            </a>
            <a th:href="@{/jobOffers/{id}/delete(id=${jobOffer.id})}" class="btn btn-primary">
                Delete
            </a>
        </div>
    </div>
</div>
</body>
</html>