<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Offer</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container" th:object="${jobOffer}">

    <div class="card">
        <div class="card-header">
            <h4 style="font-weight:bold;display:inline-block" th:text="${jobOffer.title}"></h4>
            <div style="display:inline-block;float:right">
                <div sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/jobOffers/{id}/edit(id=${jobOffer.id})}" class="btn btn-sm btn-primary mr-3">
                        Edit
                    </a>
                    <a th:href="@{/jobOffers/{id}/delete(id=${jobOffer.id})}" class="btn btn-sm btn-primary mr-3">
                        Delete
                    </a>
                </div>

                <div sec:authorize="hasRole('USER')">
                    <div th:if="${not #arrays.contains(appliedJobOffers, jobOffer.id)}">
                        <form th:action="@{/applyForJob}" method="post">
                            <input type="hidden" th:name="jobOfferId" th:value="${jobOffer.id}"/>
                            <input type="hidden" th:name="candidateId" th:value="${#authentication.principal.candidateProfile.id}"/>
                            <button type="submit" class="btn btn-sm btn-primary mr-3">Apply</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5>Company</h5>
            <p class="title" th:text="${jobOffer.companyName}"></p>
            <h5>Technology Profile</h5>
            <p class="title" th:text="${jobOffer.technologyProfile.technologyProfileName}"></p>
            <h5>Description</h5>
            <p class="title" th:text="${jobOffer.description}"></p>
        </div>

        <div class="card">
            <div class="card-header">
                <h5>Requirements</h5>
            </div>
            <div class="card-body">
                <ul th:each="requirement: ${jobOffer.requirements}">
                    <li th:text="${requirement.requirement}"></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5>Required Technologies</h5>
            </div>
            <div class="card-body">
                <ul th:each="technology: ${jobOffer.technologies}">
                    <li th:text="${technology.technology.technologyName}"></li>
                </ul>
            </div>
        </div>

        <div sec:authorize="hasRole('ADMIN')">

            <div class="card">
                <div class="card-header">
                    <h5>Applied Candidates</h5>
                </div>
                <div class="card-body">
                    <ul th:each="appliedCandidate: ${jobOffer.appliedCandidates}">
                        <li>
                            <a th:text="${appliedCandidate.user.username}"
                               th:href="@{/candidateProfiles/{id}(id=${appliedCandidate.user.id})}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    h5{
        font-weight:bold;
    }
</style>
</body>
</html>