<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <form th:action="@{/candidateProfiles/{id}/edit(id=${user.user.id})}"
          th:object="${user}" method="post" id="candidateProfile">

        <div class="border border-secondary p-3 rounded">
            <div class="card">
                <div class="card-header">
                    <h4 style="display:inline-block" th:text="${user.user.username}"></h4>
                </div>
                <div class="card-header">
                    <div>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{user.id}"/>
                    </div>
                    <div>
                        <label style="margin-left:20px">Previous Experience</label>
                        <div class="col-md-12">
                            <input type="text" th:field="*{previousExperience}" class="form-control" placeholder="Previous Experience"/>
                        </div>
                    </div>
                    <div>
                        <label style="margin-left:20px">Technology Focus</label>
                        <div class="col-md-12">
                            <select th:field="${user.technologyProfile}">
                                <option th:each="technologyProfile: ${technologyProfiles}"
                                        th:value="${technologyProfile.id}"
                                        th:text="${technologyProfile.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header dynamic-update-technologies">
                    Technologies
                    <button type="button" name="addTechnology" class="btn btn-sm btn-success float-right"
                            data-dynamic-update-technologies-url="/addCandidateTechnology">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-body">

                    <table class="table dynamic-update-technologies" style="width: 100%">

                        <tbody id="dynamicTechnologies">
                        <tr th:fragment="technologies" th:each="technology,rowStat : ${user.technologies}">

                            <input type="hidden" th:field="${user.technologies[__${rowStat.index}__].id}">
                            <input type="hidden" th:field="${user.technologies[__${rowStat.index}__].candidateProfile.id}">
                            <td>
                                <select th:field="${user.technologies[__${rowStat.index}__].technology.id}">
                                    <option th:each="fixedTechnology : ${fixedTechnologies}"
                                            th:value="${fixedTechnology.id}"
                                            th:text="${fixedTechnology.name}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select th:field="${user.technologies[__${rowStat.index}__].level}">
                                    <option th:each="level : ${T(JobBoard.model.CandidateTechnology.Level).values()}"
                                            th:value="${level}"
                                            th:text="${level}">
                                    </option>
                                </select>
                            </td>

                            <td>
                                <div class="btn-group">
                                    <button type="button" name="removeDynamicRow"
                                            th:value="${rowStat.index}" class="btn btn-sm btn-danger"
                                            data-dynamic-update-technologies-url="/removeCandidateTechnology">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;">
                <table>
                    <tr th:each="jobOffer,rowStat : ${user.appliedJobs}">
                        <input type="hidden" th:field="${user.appliedJobs[__${rowStat.index}__]}">
                    </tr>
                </table>
            </div>
            <input type="submit" value="Save" class="btn btn-primary btn-block" />
            <a th:href="@{/candidateProfiles/{id}(id=${user.user.id})}" class="btn btn-primary btn-block">Cancel</a>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>