<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body >
<div th:fragment="candidate">

    <a th:href="@{/candidateProfiles/{username}(username=${#authentication.name})}" class="btn btn-primary">
        My Profile
    </a>

    <a th:href="@{/jobOffers/all}" class="btn btn-primary">
        Job Offers
    </a>

    <a th:href="@{/logout}" class="btn btn-primary">
        Logout
    </a>
</div>

</body>
</html>