<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container" th:object="${user}">
        <div class="card">
            <div class="card-header">
                <h4 style="font-weight:bold;display:inline-block" th:text="${user.user.username}"></h4>
                <a th:href="@{/}" class="btn btn-sm btn-primary float-right mr-3">Home</a>

                <div style="display:inline-block;float:right"
                     th:with="loggedUser=${#authentication.principal.id}, showedUser=${user.user.id}">
                    <div th:if="${loggedUser == showedUser}">
                        <a th:href="@{/candidateProfiles/{id}/edit(id=${loggedUser})}"
                           class="btn btn-sm btn-primary mr-3">
                            Edit
                        </a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <h5>Previous Experience</h5>
                <p class="title" th:text="${user.previousExperience}"></p>
                <h5>Technology Focus</h5>
                <p class="title" th:text="${user.technologyFocus}"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Previous Technologies</h5>
            </div>
            <div class="card-body">

                <table class="table table-condensed table-hover table-responsive-sm  table_morecondensed width=80%">
                    <thead>
                        <tr>
                            <th>Technology</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="technology: ${user.technologies}">
                            <td class="title" th:text="${technology.technologyName}"></td>
                            <td class="title" th:text="${technology.level}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:with="loggedUser=${#authentication.principal.id}, showedUser=${user.user.id}">
            <div class="card" th:if="${loggedUser == showedUser}">
                <div class="card-header">
                    <h5>Applied Jobs</h5>
                </div>
                <div class="card-body">
                    <ul th:each="jobOffer: ${user.appliedJobs}">
                        <li>
                            <a th:text="${jobOffer.title}" th:href="@{/jobOffers/{id}(id=${jobOffer.id})}"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <style>
    h5{
        font-weight:bold;
    }
    </style>

</body>
</html>