<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Board</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/index.css}"/>
</head>
<body>
<div th:insert="header :: header"></div>
<img th:src="@{/photos/jobs.jpg}" alt="Jobs" width="50%" class="center">
<h1>Welcome to Job Board</h1>

<div style="text-align:center">
    <a th:href="@{/jobOffers/all}">
        Job Offers
    </a>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/jobOffers/new}">
            Add Job Offer
        </a>
    </div>

</div>
</body>
</html>