<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
    <div th:object="${user}" style="max-width: 350px; margin: 0 auto;">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="card">
            <h1 th:text="${user.username}"></h1>
            <h2>Previous Experience</h2>
            <p class="title" th:text="${user.previousExperience}"></p>
            <h2>Technology Focus</h2>
            <p class="title" th:text="${user.technologyFocus}"></p>
            <h2>Previous Technologies</h2>

            <table>
                <thead>
                    <tr>
                        <th>Technology</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="technology: ${user.technologies}">
                        <td class="title" th:text="${technology.technologyName}"></td>
                        <td class="title" th:text="${technology.level}"></td>
                    </tr>
                </tbody>
            </table>

            <div th:with="loggedUser=${#authentication.name}, showedUser=${user.username}">
                <div th:if="${loggedUser == showedUser}">
                    <a th:href="@{/candidateProfiles/{username}/edit(username=${loggedUser})}" class="btn btn-primary">
                        Edit
                    </a>
                </div>
            </div>
        </div>

    </div>

</body>
</html>