<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Offers</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
</head>
<body>
<div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div th:object="${jobOffers}" style="max-width: 350px; margin: 0 auto;">
        <ul th:each="jobOffer: ${jobOffers}">

            <li>
                <a th:text="${jobOffer.title}" th:href="@{/jobOffers/{id}(id=${jobOffer.id})}" class="btn btn-primary"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>